<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.mapper.ArticleMapper">

    <!--    public Article getArticleByTitle(String title);-->

    <!--    public void insertArticleContent(String content);-->
    <!--    -->
  <select id="getArticleById" resultType="com.example.blog.entity.Article">
         SELECT * FROM article where id = #{id}
  </select>

    <insert id="saveArticle" useGeneratedKeys="true" keyProperty="id">
    insert into article(title,content,html_content,markdown_content,update_timer) values (#{title}, #{content},#{htmlContent},#{markDownContent},#{updateTimer})
  </insert>

    <select id="getAllArticle" resultType="com.example.blog.entity.Article">
    SELECT * FROM article
  </select>

    <delete id="deleteById" flushCache="true" timeout="20">
      delete from article where id = #{id}
    </delete>

    <update id="updateById" flushCache="true" timeout="20">
  update article set
    title = #{title},
    content = #{content},
    html_content = #{htmlContent},
    markdown_content = #{markDownContent},
    update_timer = #{updateTimer}
  where id = #{id}
</update>



</mapper>