<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.mapper.ReplyMapper">


     <insert id="insertReply"  useGeneratedKeys="true" keyProperty="id">
       insert into reply(user_id , content, article_id, create_timer) values (#{userId},  #{content}, #{articleId}, #{createTimer})
     </insert>

</mapper>