<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bilibili.mapper.ArticleMapper">

<!--    public Article getArticleByTitle(String title);-->

<!--    public void insertArticleContent(String content);-->
<!--    -->
    <select id="getArticleByTitle" resultType="com.example.bilibili.emtity.Article">
    SELECT * FROM article where title = #{title}
  </select>
    
    <insert id="insertArticleContent">
        INSERT INTO article(title,content) VALUES (#{title},#{content})
    </insert>
    
</mapper>